  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding:10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    
  }
  .result_para_tag span{
white-space:pre-line;
  }
 .copy_right_footer{
   width:100%;
   font-weight:bold;
   letter-spacing:10px;
   font-style:italic;
   text-align:center;
   bottom:0;
   position:fixed;
   background-color:grey;
   color:white;
   line-height:3;
 }

 canvas{
   background:white;
   border:dashed 5px;
   margin-top:160px;
   box-shadow:5px 5px 5px black;
 }